@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-image {
  @apply bg-cover bg-center;
  background-image: url("./assets/community-with-hands.jpg");
  opacity: 0.9;
}

.bg-hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the darkness */
  z-index: -1;
}

.bg-welcome-image{
  @apply bg-cover bg-center;
  background-image: url("./assets/black-children.PNG");
  opacity: 0.9;
}

.bg-welcome-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.92); /* Adjust the alpha value for the darkness */
  z-index: -1;
}
